<!DOCTYPE html>
<html lang="pt-br">
<head >
    <meta charset="utf-8" />
    <meta name="description" content="Site de controle e gerenciamento de consultórios médicos" />
    <meta name="keywords" content="consultorio,web,dentista,médico,controle,fluxo,gerenciamento,agenda" />
    <title>Dental System&reg;</title>
    <link rel="stylesheet" type="text/css" href="../Content/estilo.css" />
</head>
<body>
    <div class="barra">
        <div class="container">
            <div class="navbar-brand">
                <a href="../Views/index.html"><img src="../Images/-dental-png-981_799.png" alt="Dental System" height="90"</a>
            </div>
            <div class="nav navbar-nav">
                <h2 style="text-align:center; color:#555555;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Dental System&reg;</h2>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="corpo">
            <div class="menu-bar">
                <ul id="menu">
                    <li id="nav_home"><a href="/Views/index.html">Home</a> </li>
                    <li id="nav_paciente"><a href="Pages/pacienteLista.html">Paciente</a></li>
                    <li id="nav_agenda"><a href="Pages/agenda.html">Agenda</a></li>
                    <li id="nav_contato"><a href="Pages/contato.html">Contato</a></li>
                </ul>
            </div>
            <div class="texto">
                <p style="font-family:'Segoe UI'; font-size:15px; width:500px">
                    Sistema de gerenciamento de clínica odontológica desenvolvido para ambiente Web. <br />O sistema conta com um alto padrão tecnológico, com o que há de mais moderno para auxiliar no
                    controle de pacientes. Gerencie toda a agenda dos profissionais a distância e com o envio de lembretes e mensagens de confirmações aos pacientes. Controle financeiro, caixa, recebimentos, pagamentos e
                    com geração de dashboards para um melhor controle.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p>Dental System Software &reg; 2020</p>
    </footer>


    <script>
        var data = new Date();
        console.log(data.toLocaleDateString());
    </script>

</body>


</html>